
  <nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">U.S. Weather Forecast</a>
    
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% for (var i = 0; i < links.length; i++) { %>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="<%= links[i].href %>"><%= links[i].text %></a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>