:root{
    --text-color:#20a6ee;
    --text-hover-color:#7cb8d8;

}

body{
    background-color: #333;
}

#map {
    height: 50em;
}

table {
    border: 1px solid var(--text-color);
    background-color: #333 !important;
    color: white !important;
}

td{
    border: 1px solid var(--text-color);
}
th{
    background-color: var(--text-color) !important;
    color: white !important;
    border: 1px solid white;
}

.nav{
    background-color: #333;
}
.navbar{
    border-bottom: 1px solid var(--text-color);
}
.navbar-brand{
    color: var(--text-color) !important;
}
.nav-link {
    background-color: var(--text-color);
    color: white;
    border-radius: 1em;
}
.nav-link:hover{
    background-color: var(--text-hover-color);
    color: white;
    border-radius: 1em;
}

.btn{
    background-color: var(--text-color);
    color: white;
}

#main-image{
    width: 100%;
}


figcaption{
    background-color: var(--text-color);
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
}