body{
    background-color: #333;
}
#map {
    margin-top: 1em;
    height: 500px;
}

td,
th,
table {
    border: 1px solid rgb(255, 255, 255);
    background-color: #333 !important;
    color: white !important;
}

.nav{
    background-color: #333;
}
.navbar{
    border-bottom: 1px solid white !important;
}
.navbar-brand{
    color: white !important;
}

.nav-link {
    background-color: #a12d2d;
    color: white;
    border-radius: 1em;
    padding: 1em;
}

.nav-link:hover{
    background-color: #a66161;
    color: white;
    border-radius: 1em;
}

#download-button{
    background-color: red;
}

#main-image{
    width: 50%;
}
